.zodiac-card {
  display: flex;
  flex-direction: column;
  border: 3px solid steelblue;
  width: fit-content;
  height: 250px;
  width: 280px;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.zodiac-card:hover {
  box-shadow: 5px 10px steelblue;
}

.zodiac-card img {
  width: 40%;
  align-self: center;
}